/* || General Styles */
:root {
    --metro-blue: rgb(0, 156, 222);
    --metro-green: rgb(0, 177, 64);
    --metro-orange: rgb(237, 139, 0);
    --metro-red: rgb(191, 13, 62);
    --metro-silver: rgb(146, 157, 157);
    --metro-yellow: rgb(255, 209, 0);
    --accent: rgb(128, 0, 255);
}

*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    width: 600px;
    margin: auto;
}

footer {
    margin-top: 1.5em;
}

/* Links */
a {
    text-decoration: none;
}

.link--highlight {
    background-image: linear-gradient(120deg, var(--accent) 0%, var(--accent) 100%);
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 100% 0.0em;
    border-bottom: 2px solid var(--accent);
    transition: background-size 150ms ease-in-out;
}

.link--highlight:hover,
.link--highlight:focus {
    background-size: 100% 100%;
    color: #fff;
}

/* Lines */
.lines {
    display: flex;
}

.line {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    text-align: center;
    line-height: 75px;
    color: white;
    font-weight: bold;
    font-size: 2.5em;
    margin: 10px;
}

.line--link:hover,
.line--link:focus {
    opacity: 0.5;
}

.line--blue {
    background: var(--metro-blue);
}

.line--green {
    background: var(--metro-green);
}

.line--red {
    background: var(--metro-red);
}

.line--orange {
    background: var(--metro-orange);
    color: black;
}

.line--silver {
    background: var(--metro-silver);
    color: black;
}

.line--yellow {
    background: var(--metro-yellow);
    color: black;
}

/* Stations */
.station {
    display: flex;
    margin-bottom: 1.5em;
    /* border: 2px solid red; */
}

.station__map {
    flex-shrink: 0;
    position: relative;
    width: 20px;
}

.station__line--bl {
    background-color: var(--metro-blue);
}

.station__line--gr {
    background-color: var(--metro-green);
}

.station__line--rd {
    background-color: var(--metro-red);
}

.station__line--or {
    background-color: var(--metro-orange);
}

.station__line--sv {
    background-color: var(--metro-silver);
}

.station__line--yl {
    background-color: var(--metro-yellow);
}

.station__line {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 8px;
    width: 4px;
    height: 42px;
}

.station__point {
    background: #fff;
    border: 2px solid #000;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    position: absolute;
    left: 5px;
    top: 5px;
}