/* || General Styles */
:root {
    --metro-blue: rgb(0, 156, 222);
    --metro-green: rgb(0, 177, 64);
    --metro-orange: rgb(237, 139, 0);
    --metro-red: rgb(191, 13, 62);
    --metro-silver: rgb(146, 157, 157);
    --metro-yellow: rgb(255, 209, 0);
}

*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* Metro brand */
.line {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    text-align: center;
    line-height: 75px;
    color: white;
    font-weight: bold;
    font-size: 2.5em;
    margin: 10px;
}

.line:hover,
.line:focus {
    opacity: 0.5;
}


.line--blue {
    background: var(--metro-blue);
}

.line--green {
    background: var(--metro-green);
}

.line--red {
    background: var(--metro-red);
}

.line--orange {
    background: var(--metro-orange);
    color: black;
}

.line--silver {
    background: var(--metro-silver);
    color: black;
}

.line--yellow {
    background: var(--metro-yellow);
    color: black;
}