{% extends "base.html "%}
{% load static %}
{% block content %}

<div>
    <div class="line line--{{line_code|lower}}">{{line_code}}</div>
    <div class="stations">
        {% for station in stations.Stations %}
        <a href="#">
            <div class="station">
                <div class="station__map">
                    <div class="station__line station__line--{{line_code|lower}}"></div>
                    <div class="station__point"></div>
                </div>
                <div class="station__name">{{station.Name }}</div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock content %}